$bonzi_width: 200px;
$bonzi_height: 160px;

#bonzi_canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.bonzi {
	position: fixed;
	top: 0;
	left: 0;
	-webkit-user-select: none;
	user-select: none;
}

.bonzi > canvas, .bonzi_placeholder {
	position: absolute;
}

.bubble-content {
	padding: 12px;
	max-height: 175px;	

	user-select: text;
	-webkit-user-select: text;

	overflow-x: hidden;
	overflow-y: auto;

	font-size: 14px;
	font-smooth: never;
	-webkit-font-smoothing : none;
	position: relative;
	
    // https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.bubble {
	padding: 0px;

	width: 197px;

	position: absolute;

	@extend .xp_bubble;

	&::after {
		content: '';
		position: absolute;
	}
}

.bubble-left {
	right: -45px;
	top: 40px;

	&::after {
		background-image: url('/img/bonzi/bubble_tail_l.png');
		width: 22px;
		height: 14px;
		
		top: 12px;
		right: -22px;
	}
}

.bubble-right {
	top: 40px;
	left: $bonzi_width - 45px;
	
	&::after {
		background-image: url('/img/bonzi/bubble_tail_r.png');
		width: 22px;
		height: 14px;
		
		top: 12px;
		left: -22px;
	}
}

.bubble-bottom {
	top: $bonzi_height - 4px;

	&::after {
		background-image: url('/img/bonzi/bubble_tail_b.png');
		width: 28px;
		height: 22px;
		
		top: -22px;
		left: 26px;
	}
}

.bubble-top {
	bottom: 4px;
	
	&::after {
		background-image: url('/img/bonzi/bubble_tail_t.png');
		width: 28px;
		height: 22px;
		
		left: 110px;
	}
}

.bubble_autowidth {
	width: auto !important;
}

.bonzi_name {
	border-style: solid;
	border-width: 4px 12px 4px 0;
	border-radius: 9px;
	border: #000000 solid 1px;
	padding: 8px;
	position: absolute;
	background: #ffffe1;
	font-size: 12px;
	color: #000;
}

.bubble_greentext {
	color: #789922;
}