body.vaporwave {

	#content {
		background-color: #008080;
		background-image:
			url("../img/desktop.vaporwave/logo.png"),
			url("../img/desktop.vaporwave/bg.png");
		background-position:
			top left,
			center;
		background-repeat: no-repeat;
	}

	#chat_bar {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 28px;
		background-image: url("../img/desktop.vaporwave/taskbar.png");
		background-size: 100% 100%;
		z-index: 999;
	}

	#chat_send {
		width: 58px;
		background-image: url("../img/desktop.vaporwave/start.png");
		background-size: 100%;
		background-repeat: no-repeat;
		box-sizing: border-box;
		color: #000;
		font-family: "MS Sans Serif", Tahoma, sans-serif;
		font-style: normal;
		font-weight: bold;
		letter-spacing: 1px;
		font-size: 11px;
		text-shadow: none;
		padding-left: 21px;

	    text-transform: capitalize;

		&:hover {
			background-position: 0 -28px;
		}

		&:active {
			background-position: 0 -56px;
		}
	}
}
