@font-face {
	font-family: 'Tahoma';
	src:	url('../font/Tahoma/Tahoma.eot?#iefix') format('embedded-opentype'),
			url('../font/Tahoma/Tahoma.woff') format('woff'),
			url('../font/Tahoma/Tahoma.ttf')  format('truetype'),
			url('../font/Tahoma/Tahoma.svg#Tahoma') format('svg');
	font-weight: normal;
	font-style: normal;
}
